.food-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 60;
  backdrop-filter: blur(10px);
  opacity: 1;
  background: rgba(80, 77, 83, 0.5);
  &.pop-enter {
    opacity: 0;
  }

  &.pop-enter.pop-enter-active {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  &.pop-exit {
    opacity: 1;
  }

  &.pop-exit.pop-exit-active {
    opacity: 0;
    transition: all 0.3s ease-in;
  }
}

.Food {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80%;
  z-index: 70;
  background: #fff;
  transform: translate(-50%, -50%);
  .image-header {
    position: relative;
    width: 100%;
    padding-top: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.pop-enter {
    opacity: 0;
  }

  &.pop-enter.pop-enter-active {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  &.pop-exit {
    opacity: 1;
  }

  &.pop-exit.pop-exit-active {
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  .content {
    position: relative;
    padding: 18px;
    .title {
      line-height: 14px;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 700;
      color: rgb(7, 17, 27);
    }

    .detail {
      margin-bottom: 18px;
      line-height: 10px;
      height: 10px;
      font-size: 0;
      .sell-count, .rating {
        font-size: 10px;
        color: rgb(147, 153, 159);
      }

      .sell-count {
        margin-right: 12px;
      }
    }

    .price {
      font-weight: 700;
      line-height: 24px;
      .now {
        margin-right: 8px;
        font-size: 14px;
        font-weight: 700;
        color: #f60;
      }

      .old {
        text-decoration: line-through;
        font-size: 10px;
        color: rgb(147, 153, 159);
      }
    }

    .cartcontrol-wrapper {
      position: absolute;
      right: 12px;
      bottom: 12px;
    }
  }

}
